<title-bar [title]="title"></title-bar>
<div class="main">
  <mat-card>
    <mat-card-content>
      <form-wrapper [formGroup]="partyForm"></form-wrapper>
    </mat-card-content>
    <mat-card-actions class="button-row">
      <button mat-raised-button color="warn" (click)="onCancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="partyForm.invalid"
        (click)="onSubmit()"
      >
        {{ buttonPlaceholder }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
