.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
  padding-top: 10px;
  padding-right: 10px;
}

.main {
  margin: 0 20px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100vw - 300px);
  gap: 10px;
  margin-top: 20px;
}

.field {
  box-sizing: border-box;
  min-width: 400px;
}

.single {
  flex-basis: 100%;
}

.double {
  flex-basis: calc(50% - 5px);
}
