.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
  padding-top: 10px;
  padding-right: 10px;
}

.main {
  margin: 0 20px;
  margin-top: 20px;
}

.company-form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field {
  width: 100%;
}

/* Adjust styles as needed */
@media (min-width: 768px) {
  .field[flex-gt-md~="50"] {
    width: calc(50% - 10px);
  }
}

.checkbox {
  padding-bottom: 22px;
}
