<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">JuzBill</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
    <menus (menuClicked)="onMenuClick()"></menus>
  </mat-sidenav>
  <mat-sidenav-content>
    <notifier-container></notifier-container>
    @if (loading) {
    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
      [template]="customLoadingTemplate"
    ></ngx-loading>
    }
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #customLoadingTemplate> </ng-template>
