<mat-toolbar color="primary" class="toolbar">
  <button
    mat-icon-button
    (click)="toggleSidenav()"
    (mouseenter)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">JuzBill</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active"
      >
        <span class="title">Dashboard</span>
      </a>
      <a
        mat-list-item
        routerLink="/accounts/parties"
        routerLinkActive="active"
      >
        <span class="title">Parties</span>
      </a>
      <a
        mat-list-item
        routerLink="/accounts/suppliers"
        routerLinkActive="active"
      >
        <span class="title">Suppliers</span>
      </a>
      <a
        mat-list-item
        routerLink="/invoices"
        routerLinkActive="active"
      >
        <span class="title">Invoices</span>
      </a>
      <a
        mat-list-item
        routerLink="/products"
        routerLinkActive="active"
      >
        <span class="title">Products</span>
      </a>
      <a
        mat-list-item
        routerLink="/settings"
        routerLinkActive="active"
      >
        <span class="title">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
