.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.field {
  width: 100%;
}

/* Adjust styles as needed */
@media (min-width: 900px) {
  .field[flex-gt-md~="50"] {
    width: calc(50% - 10px);
  }
}

.checkbox {
  padding-bottom: 22px;
}
